.snippet {
	border-radius: 3px;
	border: 1px solid #dedede;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.07);
	font-family: Arial;
	font-size: 13px;
	line-height: 18px;
	margin-top: 6px;
	max-width: 522px;
	padding: 16px;
}
.snippet__desc {
	color: #545454;
}
.snippet__date {
	color: #808080;
}
.snippet__title {
	color: #1a0dab;
	display: block;
	font-size: 18px;
	line-height: 21px;
}
.snippet__url {
	color: #006621;
}