<div class="pane">
	<h2>Focus Keyword</h2>
	<input type="text" class="text fullwidth" value="Craft CMS">
</div>
<div class="pane">
	<h2>Content Analysis</h2>
	<div class="analysis" data-ref="analysis"></div>
</div>