<div class="pane">
	<h2>Focus Keyword</h2>
	<input type="text" class="text fullwidth" value="Craft CMS">
</div>
<div class="pane">
	<h2>Content Analysis</h2>
	<div class="analysis">
		<span class="analysis__item positive">The title contains your keyword.</span>
		<span class="analysis__item positive">Your keyword appears in the URL.</span>
		<span class="analysis__item positive">Your keyword appears in the description.</span>
		<span class="analysis__item acceptable">The keyword density is 2.5%.</span>
		<span class="analysis__item acceptable">Keyword appears in multiple headings</span>
		<span class="analysis__item negative">Content is at least 300 words</span>
		<span class="analysis__item negative">All images have keyword in ALT tag</span>
	</div>
</div>