{% import "_includes/forms" as forms %}

{{ forms.textField({
	label: 'Google Page ID'|t,
	name: 'googleId',
	instructions: 'Google Business Profile ID (number or +handle)',
	value: settings.googleId,
	autofocus: true,
	errors: settings.getErrors('googleId')
}) }}

{{ forms.textField({
	label: 'Twitter Handle'|t,
	name: 'twitterHandle',
	instructions: 'This is required to display Twitter Card meta tags. Leave off the @ symbol.',
	value: settings.twitterHandle,
	errors: settings.getErrors('twitterHandle')
}) }}

<div class="field">
    <div class="heading">
        <label for="socialImage">Social Image</label>
        <div class="instructions">
            <p>Specify a default Image to use on entries that don't have any Open Graph image set.</p>
        </div>
    </div>
    <div class="input">
        {{ forms.elementSelect({
            id: 'socialImage',
            name: 'socialImage',
            elementType: elementType,
            instructions: 'Test Instructions',
            elements: elements,
            criteria: {
                'kind': ['image'],
                'localeEnabled': null,
                'locale': craft.locale
            },
            jsClass: 'Craft.AssetSelectInput',
            addButtonLabel: "Select a Default Social Image" |t,
            limit: 1
        }) }}
    </div>
</div>